{% extends 'base.html' %}

{% block title %}Login Page{% endblock %}

{% block head %}Welcome to the login page{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <form class="contianer px-4 py-2 row-2 rounded bg-grey">
            <div class="col-auto py-1">
                <label class="form-label">USERNAME</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-auto py-2">
                <label class="form-label">PASSWORD</label>
                <input type="password" class="form-control">
            </div>
            <div class="py-1">
                <button type="submit" class="btn btn-success">SUBMIT</button>
            </div>
            <div class="py-1">
                <p>Don't have an account? <a href="register">Register</a></p>
            </div>
        </form>
    </div>
{% endblock %}